.footer-container {
    position: static;
    width: 100%;
    height: 5rem;
    background-color: rgba(0,0,0,0.3);
    display: grid;
    align-content: center;
    display: grid;
    align-self: flex-end;
}

.description {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    color: white;
}